<div class="container">
    <h1>Contact Us</h1>
    <p>Feel free to get in touch with us for any queries!</p>
    <div class="contact-box">
        <div class="contact-left">
            <h3>Send Us</h3>
            <form>
                <div class="input-row">
                    <div class="input-group">
                        <label>Name</label>
                        <input type="text" placeholder="e.g.Anushka Mahajan">
                    </div>
                    <div class="input-group">
                        <label>Phone</label>
                        <input type="text" placeholder="+91 1234 5678 90">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label>Email</label>
                        <input type="email" placeholder="anushkamahajan1715@gmail.com">
                    </div>
                    <div class="input-group">
                        <label>Subject</label>
                        <input type="text" placeholder="any query you have.">
                    </div>
                </div>

                <label>Message</label>
                <textarea rows="5" placeholder="Your Message"></textarea>

                <button type="submit">Send</button>
            </form>


        </div>
        <div class="contact-right">
            <h3>Reach Us</h3>

            <table>
                <tr>
                    <td>Email</td>
                    <td>contactus&#64;example.com</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>+91 5468 5424 45</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>Plot 66, Beside Sigil India, Padra Road, Atladra, Vadodara 390012, Gujarat, India.</td>
                </tr>
            </table>
        </div>

    </div>
</div>

