<div class="terms-container">
    <h1>Terms and Conditions</h1>
        
      <h2 class="logo"><img class="mx-2" src="../../../../assets/images/logo-white.svg" alt="" />Meal Facility</h2>
    <!-- <h3>Rishabh Software</h3> -->
  
    <p>Welcome to the meal facility application provided by Rishabh Software. This service is available to employees, interns, and guests of the company. By using this service, you agree to the following terms and conditions:</p>
  
    <section>
      <h4>1. Eligibility</h4>
      <p>This meal facility is available to all employees, interns, and registered guests of Rishabh Software.</p>
    </section>
  
    <section>
      <h4>2. Registration</h4>
      <p>To avail of the meal facility, users must register through the company’s official portal. Ensure that all provided information is accurate and up-to-date.</p>
    </section>
  
    <section>
      <h4>3. Meal Timings</h4>
      <p>Meals will be served as per the following schedule:</p>
      <ul>
        <li>Lunch: 12:00 PM - 2:00 PM</li>
        <li>Dinner: 7:00 PM - 9:00 PM</li>
      </ul>
    </section>
  
    <section>
      <h4>4. Usage Guidelines</h4>
      <p>Users are expected to maintain decorum in the dining area and follow all hygiene practices. Waste disposal should be done in designated bins.</p>
    </section>
  
    <section>
      <h4>5. Cancellation Policy</h4>
      <p>Meal bookings can be canceled up to one hour before the scheduled time. Failure to do so may result in a charge.</p>
    </section>
  
    <section>
      <h4>6. Liability</h4>
      <p>Rishabh Software is not responsible for any personal belongings lost or damaged in the dining area. Users are advised to take care of their possessions.</p>
    </section>
  
    <section>
      <h4>7. Amendments</h4>
      <p>Rishabh Software reserves the right to amend these terms and conditions at any time. Users will be notified of any significant changes.</p>
    </section>
  
    <p>If you have any questions regarding these terms, please contact the HR department.</p>
    <p>In case of complains or any query you may also write us through <a [routerLink]="['/app/contactUs']">Contact Us</a>.</p>
    <p>For further information refer the <a [routerLink]="['/app/privacyPolicy']">Privacy Policy</a></p>

  </div>
  
