
   <div class="d-flex mx-5 align-items-center justify-content-evenly">

    <div  class="custom-calendar">
      <div class="d-flex justify-content-between align-items-center mt-2">

    <button class="btn btn-danger" (click)="openBookingList()">View Booking</button>
    <button class="btn btn-danger" (click)="openQuickBookingForm()">Quick Booking</button>

    <button class="btn btn-danger" (click)="openCancelBookingForm()">Cancel Booking</button>
    </div>


        <mat-calendar 
         [(selected)]="selectedDate" (selectedChange)="updateMenu()"
         [dateClass]="dateClass" [dateFilter]="dateFilter"
        ></mat-calendar>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <button class="btn btn-danger" (click)="openBookingForm()">Add Booking</button>
            <button class="btn btn-primary" *ngIf="showQRButton" (click)="getCoupon()">Show QR</button>

        </div>
    </div>

    <div class="ml-3 card-container">
        <mat-card class="today-card">
          <mat-card-title>{{ todayDate | date: 'fullDate' }}</mat-card-title>
          <mat-card-content>
            <p>{{ mealType }}</p>
            <p>{{ mealTaken }}</p>
          </mat-card-content>
          <button mat-button color="warn" [disabled]="isDisabled()" (click)="openFeedbackForm()">Add Feedback</button>
        </mat-card>
        <mat-card class="meal-day-card mt-3">
          <mat-card-title>Meal of the Day</mat-card-title>
          <mat-card-content>
            <!-- <div *ngIf="mealMessage; else mealContent">
              <p>{{ mealMessage }}</p>
            </div>
            <ng-template #mealContent> -->
              <div class="d-flex justify-content-between">
                <div>
                  <h3>Lunch</h3>
                  <ul>
                    <li *ngFor="let item of lunchMenu">{{ item }}</li>
                  </ul>
                </div>
                <div>
                  <h3>Dinner</h3>
                  <ul>
                    <li *ngFor="let item of dinnerMenu">{{ item }}</li>
                  </ul>
                </div>
              </div>
            <!-- </ng-template> -->
          </mat-card-content>
        </mat-card>
      </div>

   </div>

   <ng-template #feedbackForm>
    <div class="feedback-form">
      <h2 mat-dialog-title>Feedback Form</h2>
      <mat-dialog-content>
        <form [formGroup]="feedbackFormGroup" (ngSubmit)="submitFeedback()">
          <div class="stars">
            <mat-icon (click)="setStars($event)">star_border</mat-icon>
            <mat-icon (click)="setStars($event)">star_border</mat-icon>
            <mat-icon (click)="setStars($event)">star_border</mat-icon>
            <mat-icon (click)="setStars($event)">star_border</mat-icon>
            <mat-icon (click)="setStars($event)">star_border</mat-icon>
          </div>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
          </mat-form-field>
          <div class="d-flex justify-content-end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button color="warn" type="submit">Submit</button>
          </div>
        </form>
      </mat-dialog-content>
    </div>
  </ng-template>

  <ng-template #quickBookingForm>
    <div class="cancel-booking-form">
      <h2 mat-dialog-title>Add Quick Booking</h2>
      <mat-dialog-content>
        <form [formGroup]="quickBookingFormGroup" (ngSubmit)="submitQuickBooking()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Meal Type</mat-label>
            <mat-select formControlName="mealType">
              <mat-option value="lunch">Lunch</mat-option>
              <mat-option value="dinner">Dinner</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="d-flex justify-content-end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button color="warn" type="submit">Submit</button>
          </div>
        </form>
      </mat-dialog-content>
    </div>
  </ng-template>
  

  <ng-template #bookingForm>
  <div class="booking-form">
    <h2 mat-dialog-title>Booking Form</h2>
    <mat-dialog-content>
      <form [formGroup]="bookingFormGroup" (ngSubmit)="submitBooking()">
        <mat-radio-group formControlName="mealType" class="full-width">
          <mat-label>Meal Type:</mat-label>
          <mat-radio-button value="lunch">Lunch</mat-radio-button>
          <mat-radio-button value="dinner">Dinner</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Pick a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange" [dateFilter]="dateFilter">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date" >
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <div class="d-flex justify-content-end">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button color="warn" type="submit">Submit</button>
        </div>
      </form>
    </mat-dialog-content>
  </div>
</ng-template>

<ng-template #bookingList>
  <div class="booking-list">
    <h2 mat-dialog-title>View Bookings</h2>
    <mat-dialog-content>
      <form [formGroup]="bookingListFormGroup" (ngSubmit)="filterBookings()">
        <div class="form-row">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Select Month</mat-label>
              <mat-select formControlName="month">
                <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Select Year</mat-label>
              <mat-select formControlName="year">
                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Meal Type</mat-label>
              <mat-select formControlName="mealType">
                <mat-option value="lunch">Lunch</mat-option>
                <mat-option value="dinner">Dinner</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button mat-button (click)="resetFilter()" mat-dialog-close>Cancel</button>
          <button mat-button color="warn" type="submit">Filter</button>
        </div>
      </form>
      <!-- Bookings display section -->
      <div *ngIf="filteredBookingsList.length > 0" class="mt-3">
        <table mat-table [dataSource]="filteredBookingsList" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let booking">{{ booking.bookingDate | date:'yyyy-MM-dd' }}</td>
          </ng-container>
          <ng-container matColumnDef="mealType">
            <th mat-header-cell *matHeaderCellDef>Meal Type</th>
            <td mat-cell *matCellDef="let booking">{{ booking.mealType }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div *ngIf="filteredBookingsList.length === 0">
        No bookings found.
      </div>
    </mat-dialog-content>
  </div>
</ng-template>



<ng-template #cancelBookingForm>
  <div class="cancel-booking-form">
    <h2 mat-dialog-title>Cancel Booking</h2>
    <mat-dialog-content>
      <form [formGroup]="cancelBookingFormGroup" (ngSubmit)="submitCancelBooking()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Meal Type</mat-label>
          <mat-select formControlName="mealType">
            <mat-option value="lunch">Lunch</mat-option>
            <mat-option value="dinner">Dinner</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="d-flex justify-content-end">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button color="warn" type="submit">Submit</button>
        </div>
      </form>
    </mat-dialog-content>
  </div>
</ng-template>
