<div class="privacy-container">
    <h1>Privacy Policy</h1>
        
    <h2 class="logo">
        <img class="mx-2" src="../../../../assets/images/logo-white.svg" alt="" />Meal Facility
    </h2>
  
    <p>Welcome to the meal facility application provided by Rishabh Software. We are committed to protecting your privacy. This policy outlines how we collect, use, and protect your personal information.</p>
  
    <section>
      <h4>1. Information Collection</h4>
      <p>We collect personal information such as name, employee ID, contact details, and meal preferences when you register for the meal facility service.</p>
    </section>
  
    <section>
      <h4>2. Use of Information</h4>
      <p>The information collected is used to manage meal bookings, personalize your experience, and improve our services. We may also use your contact information to communicate important updates regarding the service.</p>
    </section>
  
    <section>
      <h4>3. Information Sharing</h4>
      <p>We do not share your personal information with third parties except as necessary to provide the service or comply with legal obligations. Any sharing of information will be in accordance with applicable data protection laws.</p>
    </section>
  
    <section>
      <h4>4. Data Security</h4>
      <p>We implement appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction.</p>
    </section>
  
    <section>
      <h4>5. User Rights</h4>
      <p>You have the right to access, correct, or delete your personal information. You may also object to the processing of your data under certain circumstances.</p>
    </section>
  
    <section>
      <h4>6. Changes to Privacy Policy</h4>
      <p>We reserve the right to amend this privacy policy at any time. Users will be notified of any significant changes through appropriate channels.</p>
    </section>
  
    <p>If you have any questions regarding this privacy policy, please contact the HR department.</p>
    <p>For further inquiries or complaints, you may also write to us through our <a [routerLink]="['/app/contactUs']">Contact Us</a> page.</p>
</div>

