
    <div class="text">
<div class="content">

        <h2>Welcome to our Meal Booking App!</h2>
        <p>We are dedicated to making meal planning and ordering a seamless experience for all our employees. Our
            goal is to provide delicious and nutritious meal options tailored to the needs and preferences of our
            diverse workforce. Whether you're looking for a quick lunch or planning a team event, we've got you
            covered. Our team works tirelessly to curate menus, coordinate deliveries, and ensure that every meal is of the
            highest quality. We understand the importance of convenience and reliability, which is why we strive to
            exceed your expectations with every order. For any questions, suggestions, or feedback, please feel free
            to <a [routerLink]="['/app/contactUs']">contact us</a>. Your input helps us continually improve and enhance the meal
            booking experience for everyone.</p>

    <p>Refer<a [routerLink]="['/app/privacyPolicy']" class="form-link"> Privacy-Policy </a> for more info.</p>
</div>
   </div>
   
