<!-- <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 Rishabh Software Pvt Ltd. All Rights Reserved.</p>
    </div>
  </footer> -->

  <div class="footer">
      <div class="container">
        <div class="footer-block">
          <p>Copyright © 2022 Rishabh Software. All Rights Reserved.</p>
          <div class="social">
            <a href="https://www.facebook.com/rishabhsoft/" aria-label="Facebook"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
            <a href="https://www.instagram.com/rishabhsoft/?hl=en" aria-label="Instagram"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
            <a href="https://www.linkedin.com/company/rishabh-software/" aria-label="Linkedin"><fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon></a>
            <a href="https://x.com/RishabhSoft" aria-label="Twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
          </div>
        </div>
      </div>
    </div>
