<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['home']" routerLinkActive="active">Home</a>
        <a mat-list-item [routerLink]="['aboutUs']" routerLinkActive="active">About Us</a>
        <a mat-list-item  routerLinkActive="active">Add booking</a>
        <a mat-list-item [routerLink]="['termsAndConditions']" routerLinkActive="active">Terms and Conditions</a>
        <a mat-list-item [routerLink]="['privacyPolicy']" routerLinkActive="active">Privacy policy</a>
        <a mat-list-item [routerLink]="['contactUs']" routerLinkActive="active">Contact Us</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>